#field-div {
    display: grid;
    grid-template-columns: repeat(13, 40px);
    grid-template-rows: repeat(13, 40px);
    border: 5px solid black;
    width: 530px;
    height: 530px;
    box-sizing: border-box;
    position: relative;
}

.field-tile-class {
    width: 40px;
    height: 40px;
    background-color: transparent;
    text-align: center;
    color: rgba(192, 192, 192, 0.5);
    box-sizing: border-box;
/*     color: transparent; */
/*     border: 1px solid rgba(192, 192, 192, 0.25); */
}

.circle {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 5px;
    right: 45px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(192, 192, 192, 0.5);
}