#field-div {
    display: grid;
    grid-template-columns: repeat(13, 40px);
    grid-template-rows: repeat(13, 40px);
    border: 6px solid black;
    width: 520px;
    height: 520px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(192, 192, 192, 0.5);
}

.field-tile-class {
    width: 40px;
    height: 40px;
    background-color: transparent;
    text-align: center;
    color: rgba(192, 192, 192, 0.5);
    box-sizing: border-box;
/*     color: transparent; */
/*     border: 1px solid rgba(192, 192, 192, 0.25); */
    cursor: pointer;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-3.3px)
    }
    40px {
        transform: translateY(-6.6px);
    }
    60% {
        transform: translateY(-10px)
    }
    80% {
        transform: translateY(-6.6px)
    }
}

.circle {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(192, 192, 192, 0.5);
    animation: bounce 1s infinite;
}

.circle1 {
    top:15px;
    left:410px;
}

.circle2 {
    top:15px;
    left:450px;
}

.circle3 {
    top:15px;
    left:490px;
}
/* .square {
    width: 37px;
    height: 37px;
    background-color: blue;
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    top: 2px;
    right: 121px;
    box-sizing: border-box;
} */